@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-sobre {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contenido-sobre {

    .titulo-pag {
        text-align: center;
        font-family: v.$fuente_principal;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
    }

    .contenido-texto {
        text-align: justify;
        font-size: 2rem;
        font-family: v.$fuente_principal;
        color: darken($color: v.$gris, $amount: 30);
        p {
            margin: 0.5rem auto;
        }
    }

}