@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav-bg {
    background-color: v.$negro;
    padding: 0.1rem;

    .navegacion-principal {
        display: flex;
        align-items: center;

        .izquierda {
            display: inline-flex;
            margin-left: 2rem;
        }

        .derecha {
            display: inline-flex;
            align-items: center;
            justify-content: right;

            a {
                font-family: v.$fuente_principal;
                font-weight: 14px;
                color:v.$blanco;
                margin-right: 3rem;
                text-align: right;
            }
        }
    }

    .flag {
        width:3rem;
        margin-right:0.2rem;
    }
}

.titulo-principal {
    font-family: v.$fuente_secundaria;
    font-size: 5rem;
    padding: 3rem;
    margin: 0;
}

.nav-sec {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;

    .navegacion-secundaria {
        font-family: v.$fuente_principal;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;

        a {
            color: v.$negro;
            margin: 2rem;
        }
    }
}

.enlace:hover {
    cursor: pointer;
}

.navegacion-secundaria a:hover {
    color: v.$salmon;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.footer {
    background-color: v.$negro;
    margin: 2rem 0 0 0;
    padding: 2rem;
}

.reservado {
    color:v.$blanco;
    text-align: center;
    font-family: v.$fuente_principal;
    font-size: 1.5rem;

    .icon {
    margin-right: 0;
    }

    .lab {
        font-weight: 600;
    }

    .año {
    font-family: v.$fuente_principal;
    font-size: 1.3rem;
    }
}

.red {
    margin-top: 0;
    .social {
        display: flex;
        float: right;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
    }
    .space-left {
        padding-left: 1rem;
    }
    .icono {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: v.$negro;
    }
    a:hover {
        background-color: lighten(v.$salmon, 10%);
    }
}
